{{ define "_footer" }}
  <footer class="page-footer light-green">
    <div class="container">
      © 2016 berto
      <a class="grey-text text-lighten-4 right" href="https://github.com/bertoort/go-oauth-jwt-demo">Github Repo</a>
    </div>
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript" src="public/js/app.js"></script>
</body>

</html>

{{ end }}
